[submodule "libraries/nsdlib"]
	path = libraries/nsdlib
	url = https://github.com/meyfa/nsdlib.git
[submodule "libraries/scratchlib"]
	path = libraries/scratchlib
	url = https://github.com/meyfa/scratchlib.git
